<%- include('./partials/header.ejs')%>
<div class = "content">
    <h1>ABOUT</h1> 
    <p>this page was created to assist fellow snowboarders to connect with lessons and events 
        <br>in order to improve their craft of snowboarding. this application also allows riders to 
        <br> connect with eachother and get together share their passion of riding snow.</p>
</div>
<%- include('./partials/footer.ejs')%>