<%- include('./partials/header.ejs')%>
    <div class = "content">
        <h1>CONTACT</h1> 
        <p>Applciation created and tested by Kyle Prindle</p>
        <p>Email: <a href="mailto:kyleprindle48@gmail.com">kyleprindle48@gmail.com</a></p>
        <p>phone:<a href="tel:203-913-7068">(203) 913-7068</a></p>
        <p></p>
    </div>
<%- include('./partials/footer.ejs')%>