<%- include('./partials/header.ejs')%>

<div class = "content">
    <img src="images/myLogo-modified.png" alt="" class="left">
    <img src="images/seatedOnMikesWay-modified.png" alt="" class="right">
    <h1 class="center">Home</h1>
    <p><br></p>
    <p class="center" >This site brings together people through Snowboarding.</p>
    <p><br></p>
    <p class="center">Here fellow riders can:</p>
    <p class="center">Connect with each other.</p>
    <p class="center">Create and rsvp to events involving the sport.</p>
    <p class="center">Help each other develop their craft of snowboarding.</p>

</div>

<%- include('./partials/footer.ejs')%>