<%- include('../partials/header.ejs')%>

<div class = "newConnectionContent">
    <h1 class="fourmPosition">New Connection</h1>
    <form action = '/connections' method = 'POST' class="fourmPosition">
        <table>
            <tr>
                <td><label for="title">Title</label></td>
                <td><input type="text" id="title" name="title" class = "fixed-width"></td>
            </tr>
            <tr>
                <td><label for="topic">Type of Event</label></td>
                <td>
                    <select class="fixed-width" name="topic" id="topic">
                        <option class="fixed-width" value="Lesson">Lesson</option>
                        <option class="fixed-width" value="Event">Event</option>
                    </select>
                </td>
            </tr>
            <td><label for="date">Date</label></td>
                <td><input type="date" id="date" name="date" class = "fixed-width" ></td>
            </tr>
            <tr>
                <td><label for="startTime">Time</label></td>
                <td><input type="text" id="startTime" name="startTime" class = "fixed-width"></td>
            </tr>
            <tr>
                <td><label for="hostName">Host</label></td>
                <td><input type="text" id="hostName" name="hostName" class = "fixed-width"></td>
            </tr>
            <tr>
                <tr><td class = "align-top"><label for="details">Content</label></td>
                    <td><textarea rows="5" id="details" name="details" class = "fixed-width"></textarea></td>
            </tr>
            <tr>
                <td><label for="location">location</label></td>
                <td><input type="text" id="location" name = "location" class="fixed-width"></td>
            </tr>
            <tr>
                <td colspan="2" class = "align-right"><button>Submit</button></td>
            </tr>
        </table>        
    </form>

    </div>



<%- include('../partials/footer.ejs')%>